body {
    margin: 0px auto;
    background:rgba(225, 225, 225, 0.8);
}

header {
    width: 100%;
    background-color: #cccc;
    box-shadow: 0px 5px 9px 0px rgba(0,0,0,0.58);
}

header h1 a {
    text-transform: uppercase;
    color: rgba(36, 107, 239, 0.8);
    border: 2px solid rgba(36, 107, 239, 0.8);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
}

a {
    text-decoration: none;
}

header ul {
    display: flex;
    padding: 0;
    text-align:justify;
    width: 270px;
    justify-content: space-between;
}

header li {
    display: flex;
    font-size: 16px;
    margin: 5px;
    list-style: none;
    align-items: center;
    font-family: "Helvetica Neue", "Helvetica";

}

header li:hover {
    color: rgba(36, 107, 239, 0.8) ;
    cursor: pointer;
}



nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.servicos {
    width: 90%;
    margin: 40px auto 25px;
}

.servicos ul {
    display: flex;
    padding: 0;
    justify-content: space-between;

}

.servicos ul li {
    background: #fff;
    list-style: none;
    width: 30%;
    text-align: center;
    border: 2px solid rgb(229, 11, 174);
    display:flex;
    flex-direction: column;
    justify-content:space-between ;
    border-radius: 4px;
}

.servicos ul li .img-responsive {
    width: 50%;
    margin: 0 auto;
}

.servicos button {
    margin:0 5px 5px;
}